<ion-view>
  <ion-nav-bar class="bar-huatek">
    <ion-header-bar class="bar-huatek">
      <ion-nav-back-button>
        <i class="icon_back goBack"></i>
      </ion-nav-back-button>
      <ion-nav-title>模板页面</ion-nav-title>
      <ion-nav-buttons side="right">
        <button class="button title-search-icon" ng-click="modal.show()">
          <i class="icon title-search"></i>
        </button>
      </ion-nav-buttons>
    </ion-header-bar>
  </ion-nav-bar>

  <ion-content>
      <div class="jiaji_template_html">
        <ul>
          <li >
            <a href="#/searchList-template">
              <p>查询列表模板</p>
            </a>
          </li>
          <li>
            <a href="#/moreInput-template">
              <p>多输入查询模板</p>
            </a>
          </li>
          <li>
            <p>查询列表模板</p>
          </li>
          <li>
            <p>查询列表模板</p>
          </li>
          <li>
            <p>查询列表模板</p>
          </li>

        </ul>
      </div>
  </ion-content>
</ion-view>




