<ion-view class="jiaji_discovery">
  <ion-nav-bar class="jiaji-header">
    <ion-header-bar>
      <ion-nav-title>发现</ion-nav-title>
    </ion-header-bar>
  </ion-nav-bar>
  <ion-content has-bouncing="true" padding="false">
    <div class="check_in">
      <div class="checkInImg">
        <img class="img" src="img/personCenter/loginImg.png">
      </div>
      <div class="checkIn_info">
        <div>今日签到</div>
        <p>签到送积分</p>
      </div>
    </div>
    <div class="delivery_list">
      <ul>
        <li ng-click="goIntegral()">
          <div class="itemIcon">
            <i class="icon integral"></i>
          </div>
          <div class="item_info">
            <p>积分</p>
            <p>203</p>
          </div>
        </li>
        <li ng-click="goCoupon()">
          <div class="itemIcon">
            <i class="icon coupon"></i>
          </div>
          <div class="item_info">
            <p>优惠券</p>
            <p>0张</p>
          </div>
        </li>
      </ul>
    </div>





  </ion-content>
</ion-view>
