<ion-view class="jiaji_transportRequirement">
  <ion-nav-bar class="jiaji-header">
    <ion-header-bar>
      <ion-nav-back-button>
        <i class="icon goBack"></i>
      </ion-nav-back-button>
      <ion-nav-title>运输要求</ion-nav-title>
    </ion-header-bar>
  </ion-nav-bar>
  <ion-content has-bouncing="true" padding="false">
    <div class="require_title">
      <p>运输要求</p>
    </div>
    <div class="require_content">
      <ion-scroll delegate-handle="websiteQueryList" has-bouncing="true" scroll="false" zooming="false" direction="y"
                  ng-style="{'height':ionScrollHeight}">
        <div class="info_content">
        <h3>一、不可承运货物</h3>
        <p>1、国家禁运品</p>
        <p>1：法律、行政法规明令禁止运输的货物。</p>
        <p>2：有腐蚀性、有放射性等可能危及运输工具、人身和财产安全的货物。</p>
        <p>3：凡具有爆炸性、易燃等危险性质，在运输、装卸、存储过程中，与一定条件下能引起爆炸、燃烧、导致人身伤亡和财产损失等事故的易燃易爆物品。</p>
        <div class="disabled_content">
          <div class="disabled_title">
            <label>类别(禁运)</label>
            <p>禁用类货物品名</p>
          </div>
          <div class="disabled_list">
            <ul>
              <li>
                <label>枪支弹药警械类</label>
                <p>武器及其部件，各种类型的军用枪支、
                  明勇枪支、运动枪、猎枪、信号枪、麻醉注射枪、仿真无趣，炸弹、手榴弹、子弹、照明弹、
                  教练弹、烟雾弹、炸药、引信、雷管、导火索及其他爆炸物品、纵火器材</p>
              </li>
              <li>
                <label>枪支弹药警械类</label>
                <p>武器及其部件，各种类型的军用枪支、
                  明勇枪支、运动枪、猎枪、信号枪、麻醉注射枪、仿真无趣，炸弹、手榴弹、子弹、照明弹、
                  教练弹、烟雾弹、炸药、引信、雷管、导火索及其他爆炸物品、纵火器材</p>
              </li>
              <li>
                <label>枪支弹药警械类</label>
                <p>武器及其部件，各种类型的军用枪支、
                  明勇枪支、运动枪、猎枪、信号枪、麻醉注射枪、仿真无趣，炸弹、手榴弹、子弹、照明弹、
                  教练弹、烟雾弹、炸药、引信、雷管、导火索及其他爆炸物品、纵火器材</p>
              </li>
              <li>
                <label>枪支弹药警械类</label>
                <p>武器及其部件，各种类型的军用枪支、
                  明勇枪支、运动枪、猎枪、信号枪、麻醉注射枪、仿真无趣，炸弹、手榴弹、子弹、照明弹、
                  教练弹、烟雾弹、炸药、引信、雷管、导火索及其他爆炸物品、纵火器材</p>
              </li>
              <li>
                <label>枪支弹药警械类</label>
                <p>武器及其部件，各种类型的军用枪支、
                  明勇枪支、运动枪、猎枪、信号枪、麻醉注射枪、仿真无趣，炸弹、手榴弹、子弹、照明弹、
                  教练弹、烟雾弹、炸药、引信、雷管、导火索及其他爆炸物品、纵火器材</p>
              </li>
            </ul>
          </div>
        </div>
          </div>
      </ion-scroll>

    </div>

  </ion-content>
</ion-view>
