.jiaji_forgetPassword{
  .change_password{

  }
  .change_password ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    padding: 0 15px;
    background-color: #fff;
    border-bottom: 1px solid #d5d5d5;
  }
  .change_password ul li label{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;

  }
  .change_password ul li input{
    flex: 1;
    height: 100%;
    border:none;

  }
  .get_verificationCode{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    flex: 1;
  }
  .get_verificationCode input{
    flex: 1;
    height: 100%;
  }
  .verificationCode{
    height: 100%;
    width: 85px;
    min-width: 85px;
    max-width: 85px;
    color: #c5341f;
    float: left;
    margin-left: -85px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   .verificationCode p{
     padding: 5px;
     border: 1px solid #D61E14;
     color: #D61E14;
     border-radius: 4px;
   }
  .change_login_password{
    padding: 30px;
  }
  .change_login_password .btn{
    width: 80%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #D61E14;
    color: #fff;
    border-radius: 6px;
  }

}
