<ion-view class="jiaji_integral">
  <ion-nav-bar class="jiaji-header">
    <ion-header-bar>
      <ion-nav-back-button>
        <i class="icon goBack"></i>
      </ion-nav-back-button>
      <ion-nav-title>积分历史</ion-nav-title>
    </ion-header-bar>
  </ion-nav-bar>
  <ion-content has-bouncing="true" padding="false">
    <div class="integral_list">
      <ul>
        <li ng-repeat="item in goIntegralListData">
          <div class="item_status">
            <p>{{item.date}}</p>
            <i class="icon" ng-class="{'nowStatus':item.date == '当前','status':item.date != '当前'}"></i>
          </div>
          <div class="item_info" ng-if="item.date == '当前'">
            <div class="integral_info">
              <div class="tips">
                <i class="icon tipIcon"></i>
                <p>如何获取更多积分</p>
              </div>
              <p>共<span>{{item.integral}}</span>积分</p>
            </div>
          </div>
          <div class="item_info" ng-if="item.date != '当前'">
            <div class="integral_info">
              <p>签到积分，<span>获得{{item.integral}}</span>积分</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </ion-content>
</ion-view>
