<ion-view class="jiaji_forgetPassword">
  <ion-nav-bar class="jiaji-header">
    <ion-header-bar>
      <ion-nav-back-button>
        <i class="icon goBack"></i>
      </ion-nav-back-button>
      <ion-nav-title>忘记密码</ion-nav-title>
    </ion-header-bar>
  </ion-nav-bar>
  <ion-content has-bouncing="true" padding="false">
    <div class="change_password">
      <ul>
        <li>
          <label>手机号</label>
          <div class="get_verificationCode">
            <input type="number" ng-model="phone" placeholder="请输入手机号码">
            <div class="verificationCode">
              <p>获取验证码</p>
            </div>
          </div>
        </li>
        <li>
          <label>验证码</label>
          <input ng-model="verificationCode" placeholder="请输入验证码">
        </li>
        <li>
          <label>密码</label>
          <input ng-model="newPassword" placeholder="请输入新密码(6-16位)">
        </li>
      </ul>
    </div>
    <div class="change_login_password">
      <div ng-if="phone && verificationCode && newPassword" class="btn_s">确认</div>
      <div ng-if="!(phone && verificationCode && newPassword ) " class="btn_unable">确认</div>
    </div>

  </ion-content>
</ion-view>
