<ion-view class="jiaji_orderQuery">
  <ion-nav-bar class="jiaji-header">
    <ion-header-bar>
      <ion-nav-back-button>
        <i class="icon goBack"></i>
      </ion-nav-back-button>
      <ion-nav-title>运单查询</ion-nav-title>
    </ion-header-bar>
  </ion-nav-bar>
  <ion-content has-bouncing="true" padding="false">
    <div class="scan-title">
      <input placeholder="请输入要查询的运单号" type="text">
      <div class="scanIcon">
        <i class="icon scan"></i>
      </div>
    </div>
    <div class="order_title">
      <p>最近运单</p>
    </div>
    <div class="result_list">
      <ul>
        <li ng-click="goOrderDetail(item)" ng-repeat="item in orderList">
          <div class="order_title">
            <div class="orderIcon">
              <i class="icon send"></i>
            </div>
            <div class="order_no">
              <p ng-bind="item.orderNo"></p>
              <div class="order_type">
                <p>快递</p>
              </div>
            </div>
          </div>
          <div class="order_info">
            <div class="order_address">
              <h3 ng-bind="item.sendAddress"></h3>
              <p ng-bind="item.sendPerson"></p>
            </div>
            <div class="order_status">
              <i class="icon" ng-class="{'waitLeft':item.orderCompleteStatus === 0,'completeLeft':item.orderCompleteStatus === 1}"></i>
              <p class="wait" ng-if="item.orderCompleteStatus === 0">带揽件</p>
              <p class="complete" ng-if="item.orderCompleteStatus === 1">已完成</p>
              <i class="icon" ng-class="{'waitRight':item.orderCompleteStatus === 0,'completeRight':item.orderCompleteStatus === 1}"></i>
            </div>
            <div class="order_address">
              <h3 ng-bind="item.endAddress"></h3>
              <p ng-bind="item.endPerson"></p>
            </div>
          </div>
          <div class="order_time">
            <label>下单时间：</label>
            <p ng-bind="item.orderTime"></p>
          </div>
        </li>
      </ul>
    </div>



  </ion-content>
</ion-view>
