<ion-view class="jiaji_deliveryDetail">
  <ion-nav-bar class="jiaji-header">
    <ion-header-bar>
      <ion-nav-back-button>
        <i class="icon goBack"></i>
      </ion-nav-back-button>
      <ion-nav-title>发货详情</ion-nav-title>
    </ion-header-bar>
  </ion-nav-bar>
  <ion-content has-bouncing="true" padding="false">
    <div class="delivery_info">
      <div class="item_title">
        <p>收发信息</p>
      </div>
      <div class="item_info">
        <ul>
          <li>
            <div class="person_type">
              <p>收件人</p>
            </div>
            <div class="person_info">
              <p>匿名联系人</p>
              <p>18392021656</p>
              <p>陕西省 西安市 高新区</p>
              <p>丈八四路20号</p>
            </div>
          </li>
          <li>
            <div class="person_type">
              <p>收件人</p>
            </div>
            <div class="person_info">
              <p>匿名联系人</p>
              <p>18392021656</p>
              <p>陕西省 西安市 高新区</p>
              <p>丈八四路20号</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="delivery_info">
      <div class="item_title">
        <p>货物信息</p>
      </div>
      <div class="goods_info">
        <ul>
          <li>
            <lebel>货物：</lebel>
            <p>文件</p>
          </li>
          <li>
            <lebel>件数：</lebel>
            <p>1件</p>
          </li>
          <li>
            <lebel>重量：</lebel>
            <p>1.0Kg</p>
          </li>
          <li>
            <lebel>体积：</lebel>
            <p>0.00010</p>
          </li>
          <li>
            <lebel>报价：</lebel>
            <p>25.0元</p>
          </li>
          <li>
            <lebel>包装：</lebel>
            <p>标准快递</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="delivery_info">
      <div class="item_title">
        <p>服务信息</p>
      </div>
      <div class="goods_info">
        <ul>
          <li>
            <lebel>运输服务：</lebel>
            <p>标准快递</p>
          </li>
          <li>
            <lebel>代收货款：</lebel>
            <p>25.0元</p>
          </li>
          <li>
            <lebel>送货方式：</lebel>
            <p>送货</p>
          </li>
          <li>
            <lebel>签收单：</lebel>
            <p>标准快递</p>
          </li>
          <li>
            <lebel>运输服务：</lebel>
            <p>无需返单</p>
          </li>
        </ul>
      </div>
    </div>


  </ion-content>
</ion-view>
