<ion-view class="jiaji_more">
  <ion-nav-bar class="jiaji-header">
    <ion-header-bar>
      <ion-nav-title>更多</ion-nav-title>
    </ion-header-bar>
  </ion-nav-bar>
  <ion-content has-bouncing="true" padding="false">
    <div class="more_list">
      <ul>
        <li>
          <p>消息提醒</p>
          <div class="toggle-box">
            <label class="toggle" ng-click="selectToggle()">
              <input type="checkbox" id="messageTips">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </div>
        </li>
        <li>
          <p>邀请好友使用佳吉</p>
        </li>
        <li ng-click="goFeedback()">
          <p>意见反馈</p>
        </li>
        <li>
          <p>关于佳吉App</p>
        </li>
      </ul>
    </div>




  </ion-content>
</ion-view>
